.App{
    padding: 10px;
    /*background-color: #1D2029;*/
}


.header-top__details{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

}
.toggle{
    display: flex;
    align-items: center;
}
.underline{
    height: 3px;
    /*width: fit-content;*/
    background-color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 57px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3AB9AD;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: #1D2029;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #AEB2C9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #AEB2C9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.header-top__details{
    display: flex;
    padding: 8px 100px;
    justify-content: space-between;
}

.first__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    padding: 30px 100px;
}

.card__one{
    /*background-color: #252B43;*/
    padding: 10px 15px;
    /*border-image-source: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));*/
    border-top: 5px solid red;
    border-top-style: solid;
    height: fit-content;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-name{
    margin-left: 8px;
}

.card__two{
    /*background-color: #252B43;*/
    padding: 10px 15px;
    /*border-radius: 10px;*/
    border-top: 5px solid red;
    height: fit-content;
}
.card__three{
    /*background-color: #252B43;*/
    padding: 10px 15px;
    /*border-radius: 10px;*/
    border-top: 5px solid darkred;
    height: fit-content;
}

.card__details{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/*.card__details > p{*/
/*    color: green !important;*/
/*}*/

.overview__header{
    padding: 30px 100px;
}

.overview__header > h6{
    font-size: 16px;
}
.overview__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    margin-top: -35px;
    padding: 10px 100px;
}

.ov__card{
    /*background-color: #252B43;*/
    padding: 10px 15px;
    /*margin-top: -45px;*/
    /*border-top: 5px solid cornflowerblue;*/
    height: fit-content;
}

.ovcard__details{
    margin-top: 20px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numb{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px){
    .header-top__details{
        display: flex;
       flex-direction: column;
        padding: 25px;
        margin-top: -5px;
    }
    .toggle {
    display: flex;
        justify-content: space-between;
    }

    .first__cards{
        margin-top: -10px;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 25px;
        padding:  25px;
    }
     .overview__header{
         padding: 10px 30px;

     }

    .overview__cards{
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 25px;
        padding:  25px;

    }

}

@media screen and (min-width: 600px) and (max-width: 1200px){
    .first__cards{
        margin-top: -10px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding:  15px;
    }
    .header-top__details{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    .toggle{
        display: flex;
        justify-content: space-between;
    }
    .toggle > label{
        margin-left: -10px;
    }

    .overview__header{
        padding: 10px 15px;

    }
    .overview__cards{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding:  15px;

    }
}
